body {
  text-align: center;
  background-color: #435560;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
  text-shadow: 3px 0 black;
  cursor: pointer;
}
@media (max-width:992px) {
  .only-large-view {
          display: none;
        }
}
.here{
  color: black;
  text-shadow: 3px 0 black;
}
.here:hover{
  color: #FEF2BF;
  text-shadow: 3px 0 black;
}

.container {
  display: inline;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 8rem;
  width: 9rem;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: gold;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
