body {
  text-align: center;
  background-image: url("images/sgh.png");
}
.game-over {
  background-image: url("images/goh3.jpg");
  opacity: 0.8;
}
/* Title */
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #e3fffe;
  text-shadow: 3px 0 black;
  cursor: pointer;
   text-shadow: 0 0 5px black, 0 0 7px #39A2DB;
}
/* Responsive Title */
@media (max-width:992px) {
  .only-large-view {
          display: none;
        }
}
@media (min-width:992px) {
  .here {
          display: none;
        }
}

/*Simon Buttons */
.container {
  display: inline;
  width: 50%;
  margin: auto;
}
.btn {
  margin: 25px;
  display: inline-block;
  height: 8rem;
  width: 9rem;
  border: 10px solid black;
  border-radius: 20%;
}
.btn:hover{
  cursor: pointer;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: gold;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
